@import '~prismjs/themes/prism.css'
*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  width: 100%
  height 100%
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace
  font-size: 14px
  line-height: 1.5
  
